html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: white;
  color: $gray-dark;
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
}

.button {
  display: inline-block;
  font-size: 16px;
  color: $gray-dark;
  outline: none;
  padding: 20px 45px;
  border-radius: 10px;
  cursor: pointer;
  line-height: normal;
  background-color: transparent;
  &--primary {
    color: white;
    background-color: $primary-color;
  }
  &--outline {
    border: 1px solid;
    color: $gray-blur;
  }
}

.block {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 85px;
  &-caption {
    text-transform: uppercase;
    margin-bottom: 40px;
    position: relative;
    display: inline-block;
    padding: 0 10px;
  }
  &-caption:before {
    left: 0;
    transform: translateX(-100%) translateY(-50%);
  }
  &-caption:after {
    right: 0;
    transform: translateX(100%) translateY(-50%);
  }
  &-caption:before,
  &-caption:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 30px;
    background-color: $primary-color;
    top: 50%;
  }
  &-heading {
    text-transform: uppercase;
    font-size: 50px;
    line-height: 1.4;
    span {
      display: block;
    }
  }
}
